################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cpp
*.suo
/obj/qip.tlog/CL.command.1.tlog
*.tlog
*.log
*.pdb
*.db
*.opendb
*.filters
