################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/debug
/obj
/release
/qip.vcxproj.user
/qip.VC.VC.opendb
/qip.VC.db
/qip.sln
/qip.pro.user
!**.cpp
!**.h
!**.glsl
/.vs
/.vs**
**.sln
**.db
**.vcxproj**
/moc**